body{
  margin: 5em;
}

ul{  
  padding: 0;
  list-style-type: none;
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
  border-top: black solid thick;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
  color: grey;
  font-style: italic;
}

a{
  font-weight: bold;
  text-decoration: None;
}

footer img{
  width: 10px;
  height: auto;
}

h1{
  border-bottom: solid black thick;
  text-shadow: 1px 1px 2px lightblue, 0 0 1em blue, 0 0 0.2em blue;
}

nav{
  border-bottom: solid black thin;
}